.autocomplete {
  width: 100%;
  display: flex;
  max-width: 600px;
  flex-direction: row;
  border-bottom: 2px solid var(--primary-color);
}

.autocomplete-chip-container {
  gap: 8px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 992px) {
  .autocomplete{
      position: relative
  }
}